.app-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  border: 2px solid #23395d;
  border-radius: 20px;
  gap: 5px;
  min-width: 270px;
}

.app-card strong {
  color: #0a6a95;
}



.app-card img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

@media (max-width: 768px) {
  .app-card{
    min-width: 200px;
  }
}
