.app-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 70%;
  padding: 15px;
}

.app-container button {
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #23395d;
  cursor: pointer;
  margin-top: 15px;
  font-size: 15px;
}

.app-container button:hover {
  background-color: #1c293e;
  transition: linear 0.5s;
}

.app-card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

@media (max-width: 768px) {
  .app-container {
    min-width: 80%;
  }
}

@media (max-width: 550px) {
  .app-container {
    box-sizing: border-box;
    min-width: 100%;
  }

  .app-card-grid {
    grid-template-columns: 1fr;
  }
}
